# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pasta do Ambiente Virtual
venv/
instance/ # Pasta que o Flask às vezes cria

# Arquivos do Banco de Dados SQLite (IMPORTANTE!)
# Nunca devemos versionar o banco de dados em si,
# apenas os "planos de renovação" (migrations).
*.db
*.db-journal

# Arquivos do Flask-Migrate (exceto a pasta 'versions')
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos do VS Code (opcional)
.vscode/