# ================================
# Arquivos do Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# Ambiente Virtual
# ================================
venv/
env/

# ================================
# Configurações Sensíveis
# ================================
*.env
.env
.env.dev
.env.prod

# ================================
# Banco de Dados local (SQLite ou dumps)
# ================================
*.db
*.db-journal
*.sqlite
*.sql

# ================================
# Flask-Migrate
# (Mantém apenas a pasta 'versions/')
# ================================
migrations/README
migrations/script.py.mako

# ================================
# VS Code (opcional)
# ================================
.vscode/

# ================================
# Sistema Operacional
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# ================================
# Arquivos temporários
# ================================
*.tmp
*.cache
