Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
python-dotenv
PyMySQL
alembic

cryptography
cloudinary

# Dependências essenciais internas usadas pelo Flask e SQLAlchemy
blinker
click
colorama
itsdangerous
Jinja2
MarkupSafe
Werkzeug

# Dependências auxiliares que seu projeto usa em background
packaging
greenlet
urllib3
six
tomli

# Servidor para produção no PythonAnywhere
gunicorn
