{% extends 'base.html' %}
{% block title %}Editar Cargo{% endblock %}

{% block page_title %}
    <h1>Editar Cargo: {{ cargo.nome_cargo }}</h1>
{% endblock %}

{% block header_nav %}
    <a href="{{ url_for('carreiras') }}">Voltar para Carreiras</a>
{% endblock %}


{% block content %}
    
    <form action="{{ url_for('editar_carreira', cargo_id=cargo.id) }}" method="POST">
        
        <label for="nome_cargo">Nome do Cargo:</label>
        <input type="text" id="nome_cargo" name="nome_cargo" value="{{ cargo.nome_cargo }}" required>
        
        <label for="competencias">Competências:</label>
        <textarea id="competencias" name="competencias" rows="3" placeholder="Ex: Reparo de notebooks, solda, atendimento ao cliente...">{{ cargo.competencias or '' }}</textarea>
        
        <br><br>
        <button type="submit">Salvar Alterações</button>
    </form>
    
{% endblock %}