{% extends 'base.html' %}
{% block title %}Gerenciar Funcionários{% endblock %}

{% block page_title %}
    <h1>Gerenciar Funcionários</h1>
{% endblock %}

{% block header_nav %}
    <a href="{{ url_for('cadastros') }}">Voltar para Cadastros</a>
{% endblock %}


{% block content %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <hr>
    
    <h2>Cadastrar Novo Funcionário</h2>
    <form action="{{ url_for('funcionarios') }}" method="POST">
        
        <label for="nome">Nome do Funcionário:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="cargo_id">Cargo:</label>
        <select id="cargo_id" name="cargo_id" required>
            <option value="">-- Selecione um Cargo --</option>
            {% for cargo in carreiras %}
            <option value="{{ cargo.id }}">{{ cargo.nome_cargo }}</option>
            {% endfor %}
        </select>

        <br><br>
        <button type="submit">Guardar Funcionário</button>
    </form>
    
    <hr>
    
    <h2>Funcionários Cadastrados</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for func in funcionarios %}
            <tr>
                <td>{{ func.nome }}</td>
                <td>{{ func.cargo.nome_cargo }}</td>
                <td>
                    <a href="#">[Editar]</a>
                    <a href="{{ url_for('apagar_funcionario', funcionario_id=func.id) }}" 
                       style="color: #dc3545;"
                       onclick="return confirm('Tem certeza que deseja apagar este funcionário?');">
                        [Apagar]
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}