{% extends 'base.html' %}
{% block title %}GestorOS - Página Inicial{% endblock %}

{% block page_title %}
    <h1>Bem-vindo ao GestorOS</h1> 
{% endblock %}

{% block header_nav %}
    <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
        {% if current_user.is_authenticated %}
            <span>
                Usuário: <strong>{{ current_user.username }}</strong>
            </span>
            <a href="{{ url_for('logout') }}" style="margin-left: 20px;">
                [Sair]
            </a>
        {% endif %}
    </div>
{% endblock %}


{% block content %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="{{ url_for('ordens_servico') }}">
        <h2>[📋] Gerenciar Ordens de Serviço</h2>
    </a>
    
    <a href="{{ url_for('cadastros') }}">
        <h2>[🗃️] Cadastros</h2>
    </a>
    {% endblock %}