<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recuperar Senha - GestorOS</title>
</head>
<body>

    <div class="login-container">
        
        <h1>Recuperar Senha</h1>
        <p>Digite o e-mail cadastrado no seu usuário. Enviaremos um link para você redefinir sua senha.</p>
        
        <form action="{{ url_for('recuperar_senha') }}" method="POST">
            
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" required>
            
            <br><br>
            <button type="submit">Enviar Link de Recuperação</button>
        </form>
        <br>
        <div style="text-align: center;">
            <a href="{{ url_for('login') }}">Voltar para o Login</a>
        </div>
    </div>

</body>
</html>