<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Técnicos</title>
</head>
<body>
    <a href="/">Voltar para Início</a>
    
    <h1>Gerenciar Técnicos</h1>
    <hr>
    
    <h2>Registrar Novo Técnico</h2>
    <form action="{{ url_for('tecnicos') }}" method="POST">
        <label for="nome">Nome do Técnico:</label>
        <input type="text" id="nome" name="nome" required>
        <button type="submit">Guardar Técnico</button>
    </form>
    
    <hr>
    
    <h2>Técnicos Registrados</h2>
    <ul>
        {% for tecnico in tecnicos %}
            <li>
                {{ tecnico.nome }}
                
                <a href="{{ url_for('apagar_tecnico', tecnico_id=tecnico.id) }}">
                    [Apagar]
                </a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>